/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */



/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */


#particles-js1{
    position: absolute;
    width: 100%;
    z-index: 0;
}
#particles-js{
    position: absolute;
            width: 100%;
    z-index: 5;
}

